<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% block page %}Timepunch{% endblock %} | Timepunch{% endblock %}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" />   
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}utils/ui-lightness/jquery-ui-1.8.19.custom.css" />   
        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/jquery.datepicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/punchclock.js" type="text/javascript" charset="utf-8"></script>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <header class="l-header">
                        <h1><a href="/time/">Punchtime</a></h1>
                    </header>
                </div>
            </div>
        {% block content %}{% endblock %}
        </div><!-- .grid -->
    </body>
</html>
